{% extends 'layout.html' %}
{% block content %}
<h3 class="border-bottom border-gray pb-2 mb-4">Kode Pembayaran : {{payment.Payment.code}}</h3>
<table class="table table-striped">
		<tbody>
			<tr>
				<th scope="col">
					ID Siswa
				</th>
				<td>
					{{ payment.User.username }}
				</td>
			</tr>	
			<tr>
				<th scope="row">
					Nama
				</th>
				<td>
					{{ payment.User.full_name }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Layanan
				</th>
				<td>
					{{ payment.Service.service }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Kode Tagihan
				</th>
				<td>
					{{ payment.Bill.code }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Jumlah Dibatalkan
				</th>
				<td>
					{{ payment.Payment.amount | currency_format }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Metode Pembayaran
				</th>
				<td>
					{{ payment.Payment_Method.method }}
				</td>
			</tr>
		</tbody>
	</table>
<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend class="border-bottom mb-4">
				{% if payment.Payment.active %}
				Konfirmasi Pembatalan Pembayaran
				{% else %}
				Konfirmasi Pengaktifan Pembayaran
				{% endif %}
				
			</legend>
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
						<small style="color: red" >*</small>
					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
						<small style="color: red" >*</small>
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
		</fieldset>
	</form>
{% endblock content %}