{% extends 'layout.html' %}
{% block content %}
	<h3 class="border-bottom border-gray pb-2 mb-4">{{title}}</h3>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th scope="col">
					ID Siswa
				</th>
				<td>
					{{ payment_data['user_id'] }}
				</td>
			</tr>	
			<tr>
				<th scope="row">
					Nama
				</th>
				<td>
					{{ payment_data['user_full_name'] }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Layanan
				</th>
				<td>
					{{ payment_data['service'] }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Kode Tagihan
				</th>
				<td>
					{{ payment_data['bill_code'] }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Jumlah Dibayar
				</th>
				<td>
					{{ payment_data['amount'] | currency_format }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Metode Pembayaran
				</th>
				<td>
					{{ payment_data['payment_method'] }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Referensi
				</th>
				<td>
					{{ payment_data['reference'] }}
				</td>
			</tr>
			<tr>
				<th scope="row">
					Catatan
				</th>
				<td>
					{{ payment_data['note'] }}
				</td>
			</tr>
		</tbody>
	</table>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend class="border-bottom mb-4">
				Konfirmasi Front-Line Staf
			</legend>
			<div class="form-row">
				<div class="form-group col-md-8">
					{% if form.password.errors %}
						{{ form.password(class="form-control is-invalid", placeholder="Kata Sandi Akun") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control", placeholder="Kata Sandi Akun") }}
					{% endif %}
				</div>
				<div class="form-group col-md-4">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</div>
		</fieldset>
	</form>





{% endblock content %}