{% extends "layout.html" %}

{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<legend>
				{{ title }}
			</legend>
			<fieldset class="form-group">
				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form.service.label(class="form-control-label") }}
						<small style="color: red" >*</small>
						{% if form.service.errors %}
							{{ form.service(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.service.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.service(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group col-md-6">
						{{ form.datepicker.label(class="form-control-label") }}
						<small style="color: red" >*</small>
						{% if form.datepicker.errors %}
							{{ form.datepicker(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.datepicker.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.datepicker(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	{% if payments %}
		<div class="container">
			<div class="row">
				<div class="offset-md-4 col-md-4">
					<button class="btn btn-info mb-4" id="btnExport" onclick="fnExcelReport();"> Eksport Data Ke XLSX</button>
				</div>
			</div>
		</div>
		
		<div class="content-section">
			<table class="table table-striped" id="thisTable">
				<thead>
					<tr>
						<th scope="col">
							Tgl/Kwitansi
						</th>
						<th scope="col">
							Nama
						</th>
						<th scope="col">
							Org/Kohort
						</th>
						<th scope="col">
							Layanan
						</th>
						<th scope="col">
							Metode
						</th>
						<th scope="col">
							Jumlah
						</th>
						
					</tr>
				</thead>
				<tbody>
					{% set total_payment = namespace(items=0) %}
					{% for payment in payments %}
						<tr>
							<td>
								{{ payment.Payment.added_on | datetime_format  }}-{{ payment.Payment.kwitansi_number }}
							</td>
							<td>
								{{ payment.User.username }}-{{ payment.User.full_name }}
							</td>
							<td>
								{{ payment.User_Cohort.cohort }}-{{ payment.User_Org.organization }}
							</td>
							<td>
								{{ payment.Service.service }}
							</td>
							<td>
								{{ payment.Payment_Method.method }}
							</td>
							<td>
								{{ payment.Payment.amount | currency_format }}
								{% set total_payment.items = total_payment.items +  payment.Payment.amount%}
							</td>
						</tr>
					{% endfor %}

						<tr>
							<td colspan="6" style="text-align: center;">
								<strong>Ringkasan Pembayaran</strong>
							</td>
						</tr>
						<tr>
							<td colspan="5" >
								<strong>Total Pembayaran</strong>
							</td>
							<td>
								<strong>{{ total_payment.items | currency_format }}</strong>
							</td>
						</tr>
						{% for payment_method in payment_method_summary %}
						<tr>
							<td colspan="5">
								<strong>{{ payment_method }}</strong>
							</td>
							<td>
								<strong>{{ payment_method_summary[payment_method] | currency_format }}</strong>
							</td>
						</tr>
						{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	<script type="text/javascript">
		function fnExcelReport()
		{
		    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
		    var textRange; var j=0;
		    tab = document.getElementById('thisTable'); // id of table

		    for(j = 0 ; j < tab.rows.length ; j++) 
		    {     
		        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
		        //tab_text=tab_text+"</tr>";
		    }

		    tab_text=tab_text+"</table>";
		    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
		    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
		    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

		    var ua = window.navigator.userAgent;
		    var msie = ua.indexOf("MSIE "); 

		    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
		    {
		        txtArea1.document.open("txt/html","replace");
		        txtArea1.document.write(tab_text);
		        txtArea1.document.close();
		        txtArea1.focus(); 
		        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
		    }  
		    else                 //other browser not tested on IE 11
		        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

		    return (sa);
		}
	</script>
{% endblock content %}