{% extends "layout.html" %}

{% block content %}
		<h3 class="border-bottom border-gray pb-2 mb-4">{{title}}</h3>
		<div class="article-metadata">
			<a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('withdrawals.update_withdrawal_method', withdrawal_method_id=withdrawal_method.id) }}">
				Perbarui
			</a>
			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
				Hapus
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">
						ID
					</th>
					<th scope="col">
						Metode Penarikan
					</th>
					<th scope="col">
						Status
					</th>
					<th scope="col">
						Dibuat
					</th>
					<th scope="col">
						Diperbarui
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="col">
						{{ withdrawal_method.id }}
					</th>
					<th scope="col">
						{{ withdrawal_method.method }}
					</th>
					<th scope="col">
						{% if withdrawal_method.active %}
							Aktif
						{% else %}
							Tidak Aktif
						{% endif %}
					</th>
					<th scope="col">
						{% if withdrawal_method.added_on %}
							{{ withdrawal_method.added_on | datetime_format }}
						{% endif %}
					</th>
					<th scope="col">
						{% if withdrawal_method.last_updated %}
							{{ withdrawal_method.last_updated | datetime_format }}
						{% endif %}
					</th>
				</tr>	
			</tbody>
		</table>

		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deleteModalLabel">Hapus Metode Pembayaran {{withdrawal_method.method}}?</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		       	<p>Ini Bersifat Permanen</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
		        <form action="{{ url_for('withdrawals.delete_withdrawal_method', withdrawal_method_id=withdrawal_method.id) }}" method="POST">
		        	<input class="btn btn-danger" type="submit" value="Hapus">
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
		
{% endblock content %}