<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Laporan</title>
	<style type="text/css">
		table, td, th {
		  border: 1px solid black;
		}

		table {
		  width: 100%;
		  border-collapse: collapse;
		}
	</style>
</head>
<body>
	<div class="container">
		<button class="btn btn-info mb-4" id="btnExport" onclick="fnExcelReport();"> Eksport Data Ke XLSX</button>
	</div>
	<br>
	<table id="thisTable">
		<thead>
			<tr>
				<th rowspan="2">
					No.
				</th>
				<th rowspan="2">
					Nama Lengkap / NISN / Kelas
				</th>
				{% for service in services %}
				<th colspan="2">
					{{ service.service }}
				</th>
				{% endfor %}
				<th rowspan="2">
					Total
				</th>
			</tr>
			<tr>
				<th>
					TGL
				</th>
				<th>
					CR
				</th>
				<th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th><th>
					TGL
				</th>
				<th>
					CR
				</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>
						
					</td>
					<td>
						{{ user.User.full_name }} - {{ user.User.username }} - {{ user.User_Cohort.cohort }}
					</td>
				</tr>
			{% endfor %}
		</tbody>	
	</table>
	<script type="text/javascript">
		function fnExcelReport()
		{
		    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
		    var textRange; var j=0;
		    tab = document.getElementById('thisTable'); // id of table

		    for(j = 0 ; j < tab.rows.length ; j++) 
		    {     
		        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
		        //tab_text=tab_text+"</tr>";
		    }

		    tab_text=tab_text+"</table>";
		    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
		    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
		    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

		    var ua = window.navigator.userAgent;
		    var msie = ua.indexOf("MSIE "); 

		    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
		    {
		        txtArea1.document.open("txt/html","replace");
		        txtArea1.document.write(tab_text);
		        txtArea1.document.close();
		        txtArea1.focus(); 
		        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
		    }  
		    else                 //other browser not tested on IE 11
		        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

		    return (sa);
		}
	</script>
</body>
</html>