{% extends "layout.html" %}

{% block content %}
		<h3 class="border-bottom border-gray pb-2 mb-4">{{title}}</h3>
		<a class="btn btn-outline-info mb-4" href="{{ url_for('services.add_service_type') }}">Buat Tipe Layanan Baru</a>
		<table class="table table-striped">	
			<thead>
				<tr>
					<th scope="col">
						ID
					</th>
					<th scope="col">
						Tipe Layanan
					</th>
					<th scope="col">
						Status
					</th>
					<th scope="col">
						Dibuat
					</th>
					<th scope="col">
						Diperbarui
					</th>
				</tr>
			</thead>
			<tbody>
				{% for service_type in service_types %}
					<tr>
						<th scope="col">
							{{ service_type.id }}
						</th>
						<th scope="col">
							<a href="{{ url_for('services.service_type_detail', service_type_id = service_type.id) }}">
								{{ service_type.service_type }}
							</a>
						</th>
						<th scope="col">
							{% if service_type.active %}
								Aktif
							{% else %}
								Tidak Aktif
							{% endif %}
						</th>
						<th scope="col">
							{% if service_type.added_on %}
								{{ service_type.added_on | datetime_format }}
							{% endif %}
						</th>
						<th scope="col">
							{% if service_type.last_updated %}
								{{ service_type.last_updated | datetime_format }}
							{% endif %}
						</th>
					</tr>
				{% endfor %}	
			</tbody>
		</table>
		
{% endblock content %}